.SwipeUnlock {
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;

  &.opening {
    animation: 500ms ease 0s normal forwards 1 hopUnlock;
  }

  .swipeButton {
    height: 100%;
    width: 100%;
    
    .swipeMessage {
      width: 100%;
      font-family: SFProText-Bold;
      font-size: 1.5rem;
      text-align: center;
      color: #fff;
      position: absolute;
      transform: translateY(0px) translateZ(0);
      opacity: 0.0;
  
      &.messageReveal {
        z-index: 3;
        animation: floatmessage 10s linear 3s infinite;
      }
    }
    .swipeIndicator {
      height: 8px;
      width: 34%;
      background: #fff;
      border-radius: 4px;
      position: absolute;
      margin-left: 33%;
      transform: translateY(25px) translateZ(0);
  
      &.pushMessage {
        animation: pushmessage 10s linear 3s infinite;
      }
    }
  }
}